<div class="card-panel grey lighten-5 z-depth-1">
  <h6 class="panel-header">Last activities</h6>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="assets/images/51.jpg" alt="" class="circle responsive-img">
    </div>
    <div class="col s10">
          <span class="black-text activity-title">
            Changed status of Task title from
            <span class="status status-todo">TODO</span>
            to <span class="status status-progress">IN PROGRESS</span>.
          </span>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="assets/images/72.jpg" alt="" class="circle responsive-img">
    </div>
    <div class="col s10">
          <span class="black-text activity-title">
            Changed status of Task title from
            <span class="status status-review">IN REVIEW</span>
            to <span class="status status-done">DONE</span>.
          </span>
    </div>
  </div>
  <div class="divider"></div>
  <div class="row valign-wrapper">
    <div class="col s2">
      <img src="assets/images/62.jpg" alt="" class="circle responsive-img">
    </div>
    <div class="col s10">
          <span class="black-text activity-title">
            Changed status of Task title from
            <span class="status status-bug">BUG</span>
            to <span class="status status-todo">TODO</span>.
          </span>
    </div>
  </div>
</div>
