<div class="page-container row">
  <div class="col s12 page-title">
    <ng-content select="h5"></ng-content>
    <h6 class="grey-text">The most stunning dashboard on the earth. </h6>
  </div>
  <div class="col l8 s12 no-padding">
    <div class="row">
      <div class="col s12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="valign-wrapper">
            <a class="btn red lighten-1" (click)="addCard()">Add card</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6" *ngFor="let card of cards">
          <app-card>
            {{ card.title }}
          </app-card>
        </div>
      </div>
    </div>
  </div>
  <div class="col l4 m6 s12">
    <ng-content select="[sidebar]"></ng-content>
  </div>
</div>
